@font-face {
  font-family: "iconfont"; /* Project id 2566597 */
  src: url('iconfont.woff2?t=1621824841236') format('woff2'),
       url('iconfont.woff?t=1621824841236') format('woff'),
       url('iconfont.ttf?t=1621824841236') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e63d";
}

.icon-left-indent:before {
  content: "\e7b7";
}

.icon-bx-left-indent:before {
  content: "\e651";
}

